* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    color: white;
}

main {
    background-color: gray;
    width: 600px;
    height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

span.result {
    display: block;
    font-size: 30px;
}

input[type=text] {
    display: block;
    padding: 5px;
}

.submit-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.submit {
    display: block;
    padding: 10px;
    font-family: 'Overpass', sans-serif;
    color: black;
    font-size: 20px;
}
